<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>

</head>
<body>
	<div id="content">hello</div>
<script type="text/javascript" src="/page/bundle.js?a5ba0a278e3441f2bdb3"></script></body>
</html>
