<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>

</head>
<body>
	<div id="content">hello</div>
<script type="text/javascript" src="/Users/xfn02/Documents/webpack/./note/bundle.js?4067b620ec99caba2c64"></script></body>
</html>
